* {
  margin: 0;
  padding: 0;
  transition: 0.3s;
}

@font-face {
  font-family: Comfortaa-Bold;
  src: url('./assets/fonts/Comfortaa-Bold.ttf') format('opentype');
}

@font-face {
  font-family: Comfortaa-Light;
  src: url('./assets/fonts/Comfortaa-Light.ttf') format('opentype');
}
@font-face {
  font-family: Comfortaa-Medium;
  src: url('./assets/fonts/Comfortaa-Medium.ttf') format('opentype');
}
@font-face {
  font-family: Comfortaa-Regular;
  src: url('./assets/fonts/Comfortaa-Regular.ttf') format('opentype');
}
@font-face {
  font-family: Comfortaa-SemiBold;
  src: url('./assets/fonts/Comfortaa-SemiBold.ttf') format('opentype');
}

body {
  margin: 0;
  font-family: Comfortaa-Medium, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}